*{margin:0; padding:0;}

@mixin color ($a){
  background-color: ($a);
}

@mixin position ($left, $top){
  position: absolute;
  left:(200px+$left);
  top:(100px+$top);
}


// mixin 굳이 안써도 될것 같지만 연습을 위해 시도함
// 하나의 mixin에 변수를 두개를 넣는 방법은 없을까 귀찮은데
// 변수를 여러개 지정하는 방법을 찾음
// 뱐수의 이름을 지정할때 a,b,c등이 아닌 속성명으로 정리하는 것이 편리하겠다


#container{
  width:100vw;
  height:100vh;
  background-color: #ccc;

  &>div{
    width:200px;
    height:200px;
  }
  &>div:nth-child(1){
    @include color(red);
    @include position ( $left:0, $top:0);
  }

  &>div:nth-child(2){
    @include color(blue);
    @include position($left:200, $top:20);
  }
  
  &>div:nth-child(3){
    @include color(green);
    @include position($left:300, $top:30);
  }
  
  &>div:nth-child(4){
    @include color(purple);
    @include position($left:400, $top: 40);
  }
}

